/* .settings {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: center url("../content/icon-setting-v2.png") no-repeat;
    background-size: 100%;
    border: none rgb(110,170,41) 4px;
    cursor: pointer;
} */